/**
 * Custom styles to immediately follow Tailwind’s `base` layer
 *
 * “Add things like base typography styles [or] opinionated global resets.”
 *
 * — from https://tailwindcss.com/docs/plugins#adding-base-styles
 */

/**
 * This uses the background and foreground colors declared in the
 * `theme.json` file and is applied both to the frontend and in the block
 * editor.
*/

html,
body {
	@apply lg:h-full md:w-full lg:absolute lg:overflow-hidden;
}

* {
	@apply font-sans !important;
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply leading-tight !important;
	color: #000000;
	margin-bottom: 1rem;
}

h1 {
	@apply text-4xl md:text-6xl xl:text-7xl !important;
}

h2 {
	@apply text-3xl !important;
}

h3 {
	@apply text-2xl !important;
}

p {
	line-height: 1.25rem !important;
}

a:not(#site-navigation a) {
	@apply font-semibold no-underline hover:underline text-schoberDarkRed;
}

img {
	max-width: unset;
}

body,
html {
	width: 100%;
	/* height: 100%; */
	@apply overflow-x-hidden;
}

#site-navigation li {
	@media only screen and (max-width: 768px) {
		@apply text-2xl font-light leading-6 mb-3;
	}
	margin-bottom: 0.5rem;
}

.active {
	text-decoration: underline;
}

@layer base {
	.link-white {
		@apply font-normal text-xs text-white !important;
	}
}
